@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Open+Sans&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Open+Sans&family=Poppins&family=Roboto+Condensed&family=Rubik&family=Varela+Round&display=swap");
.container {
  max-width: 1340px;
}

body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#special {
  width: 100%;
  height: 320px;
  background-color: #fff;
}

footer {
  background-color: #BB2339;
  height: 800px;
}

.bottom {
  position: relative;
  margin-right: 20px;
  border-radius: 20px;
}

.bottom2 {
  top: -190px !important;
  position: absolute;
  top: 0;
  max-width: 1310px;
  width: 100%;
  margin-left: 20px;
  padding: 64px 20px;
  -webkit-box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
          box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}
.bottom2 h4,
.bottom2 h6,
.bottom2 h2 {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.bottom2 h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  margin-bottom: 24px;
}
@media (max-width: 900px) {
  .bottom2 h2 {
    font-size: 35px;
  }
}
.bottom2 h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-bottom: 60px;
}
@media (max-width: 700px) {
  .bottom2 h6 {
    margin-bottom: 10px;
  }
}
.bottom2__btns {
  margin-right: 30px;
  margin-left: 30px;
}
.bottom2__btns::-webkit-input-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns::-moz-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns:-ms-input-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns::-ms-input-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns::placeholder,
.bottom2__btns button {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns button {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1000px) {
  .bottom2__btns button {
    margin-top: 20px;
  }
}

#toast {
  padding-top: 300px;
  background-color: #BB2339 !important;
}
#toast p {
  max-width: 439px;
}
#toast img {
  max-width: 336px;
  width: 100%;
}

.footer__special,
.footer__thing,
p {
  font-family: "Varela Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
  margin-right: 30px;
}

.footer__thing {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.64px;
}

p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.social__images {
  margin-bottom: 80px;
  margin-top: 45px;
}
.social__images__p {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
}

#navbar {
  padding-bottom: 15px;
}
#navbar img {
  max-width: 135px;
}
@media (max-width: 768px) {
  #navbar img {
    max-width: 100px;
  }
}

#navbar.navbar-shrink {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-bottom: 0;
  -webkit-box-shadow: 0 0 5px #242424;
          box-shadow: 0 0 5px #242424;
}

.offcanvas-body .nav-home__carousel:hover .nav-link {
  color: #242424;
}
.offcanvas-body .nav-home__carousel .nav-link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.navbar-toggler img {
  padding: -5px;
  border: none;
  outline: none;
}

#hero {
  padding-top: 180px;
  padding-bottom: 237px;
  background-color: #BB2339;
}
#hero button {
  padding: 8px 12px;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 175%;
  font-weight: 700;
  margin-top: 24px;
  letter-spacing: 0.64px;
  font-family: "Varela Round", sans-serif;
}
@media (max-width: 500px) {
  #hero button {
    font-size: 10px;
  }
}
#hero button .scroll {
  height: 60px;
}
#hero h4,
#hero h1,
#hero p {
  font-family: "Varela Round", sans-serif;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
#hero h1 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 90px;
  letter-spacing: 3.6px;
}
@media (max-width: 1150px) {
  #hero h1 {
    font-size: 45px;
  }
}
#hero p {
  max-width: 453px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.hero__image {
  max-width: 100%;
}

#loading {
  position: fixed;
  background-color: #f1f2f3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000098987878;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#backtop {
  position: fixed;
  top: -60px;
  right: 40px;
  font-size: 35px;
  border-radius: 4px;
  padding: 5px;
  opacity: 0.5;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
#backtop:hover {
  font-size: 40px;
}
@media (max-width: 1000px) {
  #backtop {
    font-size: 25px;
  }
  #backtop:hover {
    font-size: 30px;
  }
}

#backtop.backtop-show {
  opacity: 1;
  top: calc(100vh - 80px);
  right: 40px;
  z-index: 9;
}
@media (max-width: 700px) {
  #backtop.backtop-show {
    top: calc(100vh - 150px);
  }
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

@-webkit-keyframes ldio-dgtxaib6wzq-o {
  0% {
    opacity: 1;
    -webkit-transform: translate(0 0);
            transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes ldio-dgtxaib6wzq-o {
  0% {
    opacity: 1;
    -webkit-transform: translate(0 0);
            transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes ldio-dgtxaib6wzq {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes ldio-dgtxaib6wzq {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.ldio-dgtxaib6wzq div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}

.ldio-dgtxaib6wzq div:nth-child(1) {
  background: #a00d1e;
  -webkit-animation: ldio-dgtxaib6wzq 1s linear infinite;
          animation: ldio-dgtxaib6wzq 1s linear infinite;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.ldio-dgtxaib6wzq div:nth-child(2) {
  background: #a00d1e;
  -webkit-animation: ldio-dgtxaib6wzq 1s linear infinite;
          animation: ldio-dgtxaib6wzq 1s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ldio-dgtxaib6wzq div:nth-child(3) {
  background: #a00d1e;
  -webkit-animation: ldio-dgtxaib6wzq-o 1s linear infinite;
          animation: ldio-dgtxaib6wzq-o 1s linear infinite;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loadingio-spinner-dual-ball-a5jhftpcxl {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}

.ldio-dgtxaib6wzq {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; /* see note above */
}

.ldio-dgtxaib6wzq div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#home {
  background-color: #F8F8F8;
  padding-top: 120px;
  padding-bottom: 120px;
}

.home {
  position: relative;
}
.home__img {
  position: absolute;
  right: 0;
  bottom: -170px;
}
.home h2 {
  color: #BB2339;
  font-family: "Varela Round", sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 550px) {
  .home h2 {
    font-size: 30px;
  }
}
.home__carousel {
  border-radius: 14px;
  padding: 20px 20px 40px;
  background-color: #fff;
}
.home__carousel p,
.home__carousel h3,
.home__carousel h2 {
  color: #242424;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 20px;
}
.home__carousel h3 {
  color: #BB2339;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

#home .home__image {
  max-width: 108px;
}

#owl-carousel .owl-next,
#owl-carousel .owl-prev {
  position: absolute;
}

#owl-carousel .owl-next,
#owl-carousel .owl-prev {
  right: 0;
  top: -70px;
}
@media (max-width: 500px) {
  #owl-carousel .owl-next img,
  #owl-carousel .owl-prev img {
    width: 20px;
  }
}

#owl-carousel .owl-prev {
  right: 60px;
}
@media (max-width: 500px) {
  #owl-carousel .owl-prev {
    right: 40px;
  }
}

#pack {
  padding: 120px 0;
}
#pack h2 {
  color: #BB2339;
  font-family: "Varela Round", sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

#library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
}
@media (max-width: 900px) {
  #library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
@media (max-width: 400px) {
  #library {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
  }
}

.pack li:hover {
  color: #242424;
}
.pack__tab {
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}
.pack__tab img {
  max-width: 100%;
}

.ap-tab-link {
  color: #242424;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
@media (max-width: 1150px) {
  .ap-tab-link {
    font-size: 10px;
  }
}

.ab-tap-link {
  background: #BB2339;
  padding: 10px 20px;
  border: 1px solid #BB2339;
}

.ab-tab-link.active-tab {
  background-color: red;
  color: green;
}

#pack .ab-tap-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
}

#proof {
  padding: 90px 0;
  background-color: #F4F4F4;
}

.proof {
  position: relative;
}
.proof__items {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}
.proof h3,
.proof p,
.proof h6 {
  color: #242424;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.proof h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}
.proof h6 {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.proof__scissors {
  position: absolute;
  right: 0;
  bottom: -130px;
}
.proof__row {
  background-color: #fff;
}
.proof__row h6 {
  margin-bottom: 0;
}
.proof__row img {
  width: 16px !important;
}
.proof h4,
.proof h2 {
  color: #242424;
  font-family: "Varela Round", sans-serif;
  font-size: 23px;
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.proof h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

#update {
  padding: 120px 0;
}
#update #button {
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px solid #BB2339;
  color: #242424;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-top: 60px;
}
#update h2,
#update h4 {
  color: #242424;
  font-family: "Varela Round", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
#update h2 {
  color: #BB2339;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.44px;
  margin-bottom: 60px;
}

.update__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}
@media (max-width: 900px) {
  .update__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .update__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
.update__row__card {
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
  max-width: 410px;
}
.update__row__card img {
  width: 100%;
}
.update__row__card h3,
.update__row__card p,
.update__row__card h1,
.update__row__card h6 {
  color: #aaa;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.update__row__card h1 {
  color: #242424;
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
}
.update__row__card h3 {
  color: #BB2339;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}
.update__row__card__desc {
  padding: 20px 20px 30px 20px;
}

#modal {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 764px;
  margin-bottom: 120px;
  background-image: url("../../images/home/modal.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#modal img {
  max-width: 100px;
  width: 100%;
  position: absolute;
  bottom: 320px;
  right: calc(50vw - 40px);
}
@media (max-width: 800px) {
  #modal img {
    width: 60px;
  }
}

#gallery {
  background-color: rgba(36, 36, 36, 0.1);
  padding-bottom: 120px;
  padding-top: 100px;
}

.entry {
  position: relative;
  overflow: hidden;
}
.entry:hover .image__overlay {
  opacity: 0.7;
}

.image__overlay .instagram {
  position: absolute;
  bottom: 200px;
  right: 0;
  left: 685px;
}

#gallery {
  overflow: hidden;
}

.image__overlay {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  background-color: #242424;
  opacity: 0;
  border-radius: 14px;
}

.galery__left h2,
.galery__left h6,
.galery__left p,
.galery__left button {
  color: #242424;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.galery__left h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.galery__left p {
  color: #aaa;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}