@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Open+Sans&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Open+Sans&family=Poppins&family=Roboto+Condensed&family=Rubik&family=Varela+Round&display=swap");
.container {
  max-width: 1340px;
}

body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#special {
  width: 100%;
  height: 320px;
  background-color: #fff;
}

footer {
  background-color: #BB2339;
  height: 800px;
}

.bottom {
  position: relative;
  margin-right: 20px;
  border-radius: 20px;
}

.bottom2 {
  top: -190px !important;
  position: absolute;
  top: 0;
  max-width: 1310px;
  width: 100%;
  margin-left: 20px;
  padding: 64px 20px;
  -webkit-box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
          box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}
.bottom2 h4,
.bottom2 h6,
.bottom2 h2 {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.bottom2 h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  margin-bottom: 24px;
}
@media (max-width: 900px) {
  .bottom2 h2 {
    font-size: 35px;
  }
}
.bottom2 h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-bottom: 60px;
}
@media (max-width: 700px) {
  .bottom2 h6 {
    margin-bottom: 10px;
  }
}
.bottom2__btns {
  margin-right: 30px;
  margin-left: 30px;
}
.bottom2__btns::-webkit-input-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns::-moz-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns:-ms-input-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns::-ms-input-placeholder {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns::placeholder,
.bottom2__btns button {
  color: rgba(36, 36, 36, 0.1);
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.bottom2__btns button {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1000px) {
  .bottom2__btns button {
    margin-top: 20px;
  }
}

#toast {
  padding-top: 300px;
  background-color: #BB2339 !important;
}
#toast p {
  max-width: 439px;
}
#toast img {
  max-width: 336px;
  width: 100%;
}

.footer__special,
.footer__thing,
p {
  font-family: "Varela Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
  margin-right: 30px;
}

.footer__thing {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.64px;
}

p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.social__images {
  margin-bottom: 80px;
  margin-top: 45px;
}
.social__images__p {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
}

#navbar {
  padding-bottom: 15px;
}
#navbar img {
  max-width: 135px;
}
@media (max-width: 768px) {
  #navbar img {
    max-width: 100px;
  }
}

#navbar.navbar-shrink {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-bottom: 0;
  -webkit-box-shadow: 0 0 5px #242424;
          box-shadow: 0 0 5px #242424;
}

.offcanvas-body .nav-home__carousel:hover .nav-link {
  color: #242424;
}
.offcanvas-body .nav-home__carousel .nav-link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.navbar-toggler img {
  padding: -5px;
  border: none;
  outline: none;
}

#hero {
  padding-top: 150px;
}

.hero__ahref {
  line-height: 10px;
  padding-right: 10px;
  border-right: 1px solid #B0B0B0;
}
.hero__ahref2 {
  padding-left: 10px;
}
.hero__navbar {
  position: relative;
  padding: 10px 30px;
  margin-left: 20px;
}
.hero__navbar__item {
  margin-right: 20px;
}
.hero__navbar img {
  position: absolute;
  left: 100px;
  top: calc(66.6666666667vh + 500px);
}
.hero h2 {
  font-family: "Varela Round", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  text-transform: capitalize;
}

#v-pills-home,
#v-pills-profile,
#v-pills-settings,
#v-pills-messages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
}
@media (max-width: 1000px) {
  #v-pills-home,
  #v-pills-profile,
  #v-pills-settings,
  #v-pills-messages {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
  }
}

.home__carousel {
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
  padding: 20px 20px 40px;
  background-color: #fff;
}
.home__carousel img {
  width: 100%;
}
.home__carousel p,
.home__carousel h3,
.home__carousel h2 {
  color: #242424;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 20px;
}
.home__carousel h3 {
  color: #BB2339;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

#gallery {
  background-color: rgba(36, 36, 36, 0.1);
  padding-bottom: 120px;
  padding-top: 100px;
}

.entry {
  position: relative;
  overflow: hidden;
}
.entry:hover .image__overlay {
  opacity: 0.7;
}

.image__overlay .instagram {
  position: absolute;
  bottom: 200px;
  right: 0;
  left: 685px;
}

#gallery {
  overflow: hidden;
}

.image__overlay {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  background-color: #242424;
  opacity: 0;
  border-radius: 14px;
}

.galery__left h2,
.galery__left h6,
.galery__left p,
.galery__left button {
  color: #242424;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.galery__left h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.galery__left p {
  color: #aaa;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}