@use "../style.scss";
@use "../utils/variables" as v;
@use "../base/fonts";
@use "../base/function";
@use "../utils/mixin" as m;
@use "../layout/footer";
@use "../layout/header";

#hero {
  padding-top: 150px;
}

#loading {
	position: fixed;
  background-color:#F1F2F3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
	z-index: 1000098987878;
	transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}
@keyframes ldio-dgtxaib6wzq-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(80px,0) }
   50%    { opacity: 0; transform: translate(80px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-dgtxaib6wzq {
    0% { transform: translate(0,0) }
   50% { transform: translate(80px,0) }
  100% { transform: translate(0,0) }
}
.ldio-dgtxaib6wzq div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.ldio-dgtxaib6wzq div:nth-child(1) {
  background: #a00d1e;
  animation: ldio-dgtxaib6wzq 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-dgtxaib6wzq div:nth-child(2) {
  background: #a00d1e;
  animation: ldio-dgtxaib6wzq 1s linear infinite;
  animation-delay: 0s;
}
.ldio-dgtxaib6wzq div:nth-child(3) {
  background: #a00d1e;
  animation: ldio-dgtxaib6wzq-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-a5jhftpcxl {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-dgtxaib6wzq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dgtxaib6wzq div { box-sizing: content-box; }


.hero {
  &__ahref {
    line-height: 10px;
    padding-right: 10px;
    border-right: 1px solid v.$border-right;
  }
  &__ahref2 {
    padding-left: 10px;
  }
  &__navbar {
    position: relative;
    padding: 10px 30px;
    margin-left: 20px;
   &__item {
    margin-right: 20px;
   }
    img {
      position: absolute;
      left: calc( 100px);
      top: calc(100vh * 2 / 3 + 500px);
    }
  }
  h2 {
    font-family: "Varela Round", sans-serif;
    color: v.$white_color;
    font-size: 40px;
    font-weight: 500;
    line-height: 54px;
    text-transform: capitalize;
  }
}
#v-pills-home,
#v-pills-profile,
#v-pills-settings,
#v-pills-messages {
  @include m.grid($number: 2);
  @media (max-width: 1000px){
    @include m.grid($number: 1);
  }
}
.home__carousel {
  border: 1px solid v.$pack-tab;
  border-radius: 14px;
  padding: 20px 20px 40px;
  background-color: v.$white_color;
  img {
    width: 100%;
  }
  p,
  h3,
  h2 {
    color: v.$black-color;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0 20px;
  }
  h3 {
    color: v.$primary-color;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
}
// -----gallery----------
#gallery {
  background-color: v.$pack-tab;
  padding-bottom: 120px;
  padding-top: 100px;
}
.entry {
  position: relative;

  &:hover {
    .image__overlay {
      opacity: 0.7;
    }
  }
  overflow: hidden;
}
.image__overlay .instagram {
  position: absolute;
  bottom: 200px;
  right: 0;
  left: 685px;
}
// .image__overlay:hover {
//   .instagram {
//     opacity: 1;
//   }
// }
#gallery {
  overflow: hidden;
}

.image__overlay {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
  background-color: v.$black-color;
  opacity: 0;
  border-radius: 14px;
}

.galery__left {
  h2,
  h6,
  p,
  button {
    color: v.$black-color;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
  }
  h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
  }
  p {
    color: v.$aaa;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
  }
}
